<h1>Add a Venue</h1>

<%= simple_form_for @venue, html: {class: "form-horizontal"} do |form| %>
	<%= form.input :venue_name %>
	<%= form.input :venue_description %>
	<%= form.input :venue_zip_code %>
	<%= form.submit "Add Venue", class: "btn btn-primary" %>
<% end %>