<h1>Edit a Performer</h1>

Current info:
<%= @performer.performer_name %> is a <%= @performer.performer_description %> performer.
<br>

<%= simple_form_for @performer, html: {class: "form-horizontal"} do |form| %>
	<%= form.input :performer_name %>
	<%= form.input :performer_description %>
	<%= form.submit "Update Performer", class: "btn btn-primary" %>
<% end %>